{% set rainy = forecast | selectattr('precipitation', 'gt', 0) | list %}
{% if rainy | length == 0 %}Heute bleibt es trocken
{% else %}
{% set start = (rainy[0].datetime | as_datetime).hour %}
{% set end = (rainy[-1].datetime | as_datetime).hour + 1 %}
Es regnet heute von {{ start }} bis {{ end }} Uhr
{% endif %}
