Folgende Familientermine sind für heute noch geplant:
{% for event in events | sort(attribute='start') %}
{% if 'T' not in event.start %}{{ event.summary }}, Ganztagestermin
{% else %}
{% set start = event.start | as_datetime %}
{% set end = event.end | as_datetime %}
{% set ns = namespace(start_time=start.hour ~ " Uhr", end_time=end.hour ~ " Uhr") %}
{% if start.minute != 0 %}{% set ns.start_time = ns.start_time ~ " " ~ start.minute %}{% endif %}
{% if end.minute != 0 %}{% set ns.end_time = ns.end_time ~ " " ~ end.minute %}{% endif %}
{{ event.summary }} von {{ ns.start_time }} bis {{ ns.end_time }}
{% endif %}
{% endfor %}
