{% include 'greeting/greeting.jinja' %}
{% set forecast = daily_forecast %}
{% include 'weather/daily_weather_summary.jinja' %}
{% set forecast = hourly_forecast %}
{% include 'rain/daily_rain_summary.jinja' %}
{% include 'family_calendar/daily_family_summary.jinja' %}
